h1{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	font-family: verdana;
	color: #0E5C2F;
}

.Menu li{
	padding: 7px;
	background-color: #64A06F;
	font-size:15px;
	display: inline-block;
}

.Menu li:hover {
	background-color: #FFFFFF;
}

ul li a{
	text-decoration: none;
	color:#FFFFFF;
}

div{
	margin-top: 5px;
}

.caja{
	width: 40px;
	height: 25px;
	margin: 5px;
	border-color: #434242;
	background-color: #C8C4C4;
 
}

label{
font-family: verdana;
font-size: 20px;

}

nav{
	margin-top: 10px;
	margin-left: 865px;
}

